/* tailwindCSS requires */
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #f9fff5;
    font-family: 'Inter', sans-serif;
  }

  .input-placeholder::placeholder {
    color: #002e70;
  }
  